<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Independent_study</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.independent_study %></td>
      </tr>
    <% end %>
  </tbody>
</table>
