<title>Course Catalog</title>

<h1>Course Catalog</h1>

<p>
<%= link_to t(".courses"), courses_path%> <br>
<%= link_to t(".subjects"), subjects_path%> <br>
<%= link_to t(".instructors"), instructors_path%> <br>
</p>
